* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.box-top,
.box-center,
.box-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h2 {
    font-size: 30rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 0em;
    color: white;
    /* mix-blend-mode: difference; */
    position: absolute;
}

.top-img,
.bottom-img {
    height: 130%;
    object-fit: cover;
    position: absolute;
}

.box-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    /* transform: translateY(-90%); */
    /* box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08); */

    & .top-text {
        bottom: 0;
    }

    & .top-img {

        top: 50%;
    }

    & .blade {
        width: 200px;
        bottom: -20%;
        left: -15%;
        position: absolute;
    }
}

.box-center {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient( rgb(191, 111, 112) 5%, rgb(87, 23, 24));
    /* z-index: 10; */

    & .center-img{
        filter: drop-shadow(0px 32px 24px rgba(3, 7, 18, 0.5));
        width: 5%;
    }

}

.box-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: black;
    z-index: 1;
    /* transform: translateY(90%); */
   /* box-shadow: 0px -1px 1px rgba(3, 7, 18, 0.02),
  0px -5px 4px rgba(3, 7, 18, 0.03),
  0px -12px 9px rgba(3, 7, 18, 0.05),
  0px -20px 15px rgba(3, 7, 18, 0.06),
  0px -32px 24px rgba(3, 7, 18, 0.08); */



    & .bottom-text {
        top: 0;
    }

    & .bottom-img {
        top: -50%;
    }
}
