*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
height: 100%;
width: 100%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
max-width: 100%;
height: auto;
}
a {
text-decoration: none;
color: inherit;
}
ul, ol {
list-style: none;
}
button {
cursor: pointer;
border: none;
outline: none;
}
input {
outline: none;
}

section {
padding: 4rem 2rem;
}

/* Global Styles End */

header {
background-color:  rgba(255, 255, 255, 0.36);
color: #e6e3e3;
padding: 1rem 2rem;
/* border: 1px solid rgba(255, 255, 255, 0.50); */
/* border-radius: 50px; */
z-index: 1000;
position: fixed;
width: 100%;
/* transform: translate(50%, 50%); */
}

nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.logo {
font-size: 1.2rem;
font-weight: 500;
}

.nav__links ul {
display: flex;
gap: 1.5rem;
}

.btn-hire{
background-color: #ff5733;
color: #e6e3e3;    
padding: 0.5rem 1.5rem;
border-radius: 5px;
font-size: 1rem;

&:hover {
    background-color: #e04e2b;}
}

main {
  background: #131313;
}

.hero {
    width: 100%;
    height: 90vh;
    color: #131313
}

.hero__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero__circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #ff5733;
    border-radius: 50%;
    left: 15%;
    filter:blur(50px);
    /* animation: moveCircle 6s linear infinite; */
}

/* @keyframes moveCircle {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(50%, 50%) scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
} */

.hero__title {
    position: relative;
    font-size: 7vw;
    z-index: 1;
    text-align: center;
    filter: drop-shadow(2px 4px 6px #131313);
}

/* .agent__circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ff5733;
    border-radius: 50%;
    left: 15%;
    filter:blur(50px);
    z-index: 1;
} */

.agents {
    /* background: #fff; */
    color: #e6e3e3;
    text-align: center;
    padding-bottom: 12rem;
}

.staff__title {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.staff__cards {
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

.card {
    background: #202020;
    color: #cfcccc;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        transform: translateY(-10px);
    }
}
.card__image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card__role {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
       margin-bottom: 1.5rem;
}