* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(230, 231, 232);
}


button {
  padding: 0.5rem 1rem;
  background-color: rgb(232, 231, 231);
  color: rgba(20, 20, 20, 1);
  border: 0 solid;
  border-radius: 1rem;
  position: relative;
  margin: 1rem;
  bottom: 0;
  left: 0;
}

header.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  justify-content: space-between; */
  padding: 2rem 3rem;
  width: 100%;
  position: fixed;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: rgb(192, 192, 192);
}

main {
  position: relative;
}

section {
  padding: 3px 3rem;
}

div.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 85vh;
  margin-top: 100px;
}
div.hero__left {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  overflow: hidden;
}

div.hero__right {
  position: relative;
  /* background-color: lightslategray; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 0%; */
}

.hero__righ-wrapper {
  position: relative;
  /* bottom: 0; */
  height: 0%;

}

div.hero__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}

.hero__title {
  width: 300px;
  position: relative;
  top: 20%;
  left: 45%;
  font-size: 1.5rem;
  font-weight: 300;
}


div.hero__nap {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  align-items: flex-end;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 200;
}

.hero__established p {
  text-align: right;
}

.hero__media {
  position: relative;
  height: 0%;
}

.left__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.right_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute;
  bottom: 0; */
}

.right_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

